#--------------------------------------------------------------------
# WRF-Hydro Forcing Engine Configuration File
#
# Input options to the forcing engine include:
# 1.) Choices for input forcing files to use.
# 2.) Options for specifying date ranges and forecast intervals
#     for input files.
# 3.) Choices for ESMF regridding techniques.
# 4.) Choices for optional downscaling techniques.
# 5.) Choices for optional bias correction techniques.
# 6.) Choices for optional supplemental precipitation products.
# 7.) Choices for optional ensemble member variations.
# 8.) Choices for output directories to place final output files.

[Input]
# Choose a set of value(s) of forcing variables to be processed for
# WRF-Hydro. Please be advised that the order of which the values are
# chosen below are the order that the final products will be layered
# into the final LDASIN files. See documentation for additional
# information and examples.
# The following is a global set of key values to map forcing files
# to variables within LDASIN files for WRF-Hydro. The forcing engine
# will map files to external variable names internally. For custom
# external native forcing files (see documenation), the code will
# expect a set of named variables to process. The following is a
# mapping of numeric values to external input native forcing files:
# 1 - NLDAS GRIB retrospective files
# 2 - NARR GRIB retrospective files
# 3 - GFS GRIB2 Global production files on the full gaussian grid
# 4 - NAM Nest GRIB2 Conus production files
# 5 - HRRR GRIB2 Conus production files
# 6 - RAP GRIB2 Conus 13km production files
# 7 - CFSv2 6-hourly GRIB2 Global production files
# 8 - WRF-ARW - GRIB2 Hawaii nest files
# 9 - GFS GRIB2 Global production files on 0.25 degree lat/lon grids. 
# 10 - Custom NetCDF hourly forcing files
# 11 - Custom NetCDF hourly forcing files
# 12 - Custom NetCDF hourly forcing files
# 13 - Hawaii 3-km NAM Nest.
# 14 - Puerto Rico 3-km NAM Nest.
# 15 - Alaska 3-km Alaska Nest
InputForcings = [3]

# Specify the input directories for each forcing product.
InputForcingDirectories = /home/docker/wrf-hydro-training/forcing_engine/wrf-hydro-training/Forcing_Inputs/GFS_13km

[Output]
# Specify the output frequency in minutes. 
# Note that any frequencies at higher intervals
# than what is provided as input will entail input
# forcing data being temporally interpolated.
OutputFrequency = 60

# Specify a top level output directory. For re-forecasts
# and forecasts, sub-directories for each forecast cycle
# will be generated. For retrospective processing, final
# output files will be placed in this directory. 
OutDir = /home/docker/wrf-hydro-training/forcing_engine/wrf-hydro-training/Output

# Specify a scratch directory that will be used 
# for storage of temporary files. These files
# will be removed automatically by the program. 
ScratchDir = /home/docker/wrf-hydro-training/forcing_engine/wrf-hydro-training/SCRATCH

[Retrospective]
# Specify to process forcings in retrosective mode
# 0 - No
# 1 - Yes
RetroFlag = 0

# Choose the beginning date of processing forcing files.
# NOTE - Dates are given in YYYYMMDDHHMM format
# If in real-time forecasting mode, leave as -9999.
# These dates get over-ridden in lookBackHours.
BDateProc = 201810010000
EDateProc = 201810020000

[Forecast]
# ONLY for realtime forecasting.
# - Specify a lookback period in minutes to process data.
#   This overrides any BDateProc/EDateProc options passed above.
#   If no LookBack specified, please specify -9999.
#LookBack = 4320
LookBack = -9999

# If running reforecasts, specify a window below. This will override 
# using the LookBack value to calculate a processing window. 
RefcstBDateProc = 201902241200
refcstEDateProc = 201902241800

# Specify a forecast frequency in minutes. This value specifies how often
# to generate a set of forecast forcings. If generating hourly retrospective
# forcings, specify this value to be 60. 
ForecastFrequency = 360

# Forecast cycles are determined by splitting up a day by equal 
# ForecastFrequency interval. If there is a desire to shift the
# cycles to a different time step, ForecastShift will shift forecast
# cycles ahead by a determined set of minutes. For example, ForecastFrequency
# of 6 hours will produce forecasts cycles at 00, 06, 12, and 18 UTC. However,
# a ForecastShift of 1 hour will produce forecast cycles at 01, 07,
# 13, and 18 UTC. NOTE - This is only used by the realtime instance 
# to calculate forecast cycles accordingly. Re-forecasts will use the beginning
# and ending dates specified in conjunction with the forecast frequency
# to determine forecast cycle dates.  
ForecastShift = 0

# Specify how much (in minutes) of each input forcing is desires for each 
# forecast cycle. See documentation for examples. The length of
# this array must match the input forcing choices.
#ForecastInputHorizons = [22980]
ForecastInputHorizons = [180]

# This option is for applying an offset to input forcings to use a different
# forecasted interval. For example, a user may wish to use 4-5 hour forecasted
# fields from an NWP grid from one of their input forcings. In that instance
# the offset would be 4 hours, but 0 for other remaining forcings. 
ForecastInputOffsets = [0]

[Geospatial]
# Specify a geogrid file that defines the WRF-Hydro (or NWM) domain to which
# the forcings are being processed to.
GeogridIn = /home/docker/wrf-hydro-training/forcing_engine/wrf-hydro-training/DOMAIN/geo_em.d01.nc

# Specify the optional land spatial metadata file. If found, coordinate projection information
# and coordinate will be translated from to the final output file.
SpatialMetaIn = /home/docker/wrf-hydro-training/forcing_engine/wrf-hydro-training/DOMAIN/GEOGRID_LDASOUT_Spatial_Metadata.nc

[Regridding]
# Choose regridding options for each input forcing files being used. Options available are:
# 1 - ESMF Bilinear
# 2 - ESMF Nearest Neighbor
# 3 - ESMF Conservative Bilinear
RegridOpt = [1]

[Interpolation]
# Specify an temporal interpolation for the forcing variables.
# Interpolation will be done between the two neighboring
# input forcing states that exist. If only one nearest
# state exist (I.E. only a state forward in time, or behind),
# then that state will be used as a "nearest neighbor".
# NOTE - All input options here must be of the same length
# of the input forcing number. Also note all temporal interpolation
# occurs BEFORE downscaling and bias correction.
# 0 - No temporal interpolation. WARNING - Will result in states from
#     the nearest later forecast data point will be used if output
#     timesteps are in-between two input forecast points.
# 1 - Nearest temporal neighbor.
# 2 - Weighted linear average between input points. 
forcingTemporalInterpolation = [0]

[BiasCorrection]
# Choose bias correction options for each of the input forcing files. Length of each option
# must match the length of input forcings.

# Specify a temperature bias correction method.
# 0 - No bias correction
# 1 - CFSv2 - NLDAS2 Parametric Distribution - NWM ONLY
TemperatureBiasCorrection = [0]

# Specify a surface pressure bias correction method.
# 0 - No bias correction.
# 1 - CFSv2 - NLDAS2 Parametric Distribution - NWM ONLY
PressureBiasCorrection = [0]

# Specify a specific humidity bias correction method.
# 0 - No bias correction.
# 1 - CFSv2 - NLDAS2 Parametric Distribution - NWM ONLY
HumidityBiasCorrection = [0]

# Specify a wind bias correction.
# 0 - No bias correction.
# 1 - CFSv2 - NLDAS2 Parametric Distribution - NWM ONLY
WindBiasCorrection = [0]

# Specify a bias correction for incoming short wave radiation flux.
# 0 - No bias correction.
# 1 - CFSv2 - NLDAS2 Parametric Distribution - NWM ONLY
SwBiasCorrection = [0]

# Specify a bias correction for incoming long wave radiation flux.
# 0 - No bias correction.
# 1 - CFSv2 - NLDAS2 Parametric Distribution - NWM ONLY
LwBiasCorrection = [0]

# Specify a bias correction for precipitation.
# 0 - No bias correction.
# 1 - CFSv2 - NLDAS2 Parametric Distribution - NWM ONLY
PrecipBiasCorrection = [0]

[Downscaling]
# Choose downscaling options for each of the input forcing files. Length of each option
# must match the length of input forcings.

# Specify a temperature downscaling method:
# 0 - No downscaling.
# 1 - Use a simple lapse rate of 6.75 degrees Celsius to get from the model elevation
#     to the WRF-Hydro elevation.
# 2 - Use a pre-calculated lapse rate regridded to the WRF-Hydro domain.
TemperatureDownscaling = [0]

# Specify a surface pressure downscaling method:
# 0 - No downscaling.
# 1 - Use input elevation and WRF-Hydro elevation to downscale
#     surface pressure.
PressureDownscaling = [0]

# Specify a shortwave radiation downscaling routine.
# 0 - No downscaling
# 1 - Run a topographic adjustment using the WRF-Hydro elevation
ShortwaveDownscaling = [0]

# Specify a precipitation downscaling routine.
# 0 - No downscaling
# 1 - NWM mountain mapper downscaling using monthly PRISM climo.
PrecipDownscaling = [0]

# Specify a specific humidity downscaling routine.
# 0 - No downscaling
# 1 - Use regridded humidity, along with downscaled temperature/pressure
#     to extrapolate a downscaled surface specific humidty.
HumidityDownscaling = [0]

# Specify the input parameter directory containing necessary downscaling grids.
#DownscalingParamDirs = /glade/p/cisl/nwc/karsten/NWM_v21_Dev/INPUT/Forcing_Params/mountain_mapper_GFS_1_km_from_T1534
DownscalingParamDirs = 

[SuppForcing]
# Choose a set of supplemental precipitation file(s) to layer
# into the final LDASIN forcing files processed from
# the options above. The following is a mapping of
# numeric values to external input native forcing files:
# 1 - MRMS GRIB2 hourly radar-only QPE
# 2 - MRMS GRIB2 hourly gage-corrected radar QPE
# 3 - WRF-ARW 2.5 km 48-hr Hawaii nest precipitation.
# 4 - WRF-ARW 2.5 km 48-hr Puerto Rico nest precipitation.
SuppPcp = []

# Specify the correponding supplemental precipitation directories
# that will be searched for input files.
SuppPcpDirectories = 

# Specify regridding options for the supplemental precipitation products.
RegridOptSuppPcp = []

# Specify the time interpretation methods for the supplemental precipitation
# products.
SuppPcpTemporalInterpolation = []

# Optional RQI threshold to be used to mask out. Currently used for MRMS products.
# Please choose a value from 0.0-1.0. Associated radar quality index files will be expected
# from MRMS data.
RqiThreshold = 0.9

[Ensembles]
# Choose ensemble options for each input forcing file being used. Ensemble options include:
# FILL IN ENSEMBLE OPTIONS HERE.....
# Choose the CFS ensemble member number to process
cfsEnsNumber =

[Custom]
# These are options for specifying custom input NetCDF forcing files (in minutes).
# Choose the input frequency of files that are being processed. I.E., are the
# input files every 15 minutes, 60 minutes, 3-hours, etc. Please specify the
# length of custom input frequencies to match the number of custom NetCDF inputs
# selected above in the Logistics section.
custom_input_fcst_freq = []

